li {
   background-color: #fff;
   font-size: 13pt;
   display: flex;
   justify-content: space-between;
   border: 1px #ccc solid;
   border-right: none;
   border-left: none;
   border-top: 0;
   margin: 0;
   margin-left: 30px;
   margin-right: 30px;
   padding: 5px 0px;
}
li:hover {
   background-color: #fafafa;
   cursor: pointer;
}

.Left-container {
   display: 'flex';
   margin-top: '5px';
   margin-left: '1vw';
}

.Right-container {
   display: 'flex';
   margin-right: '2vw';
}

.Title {
   color: '#333';
   font-size: '13pt';
   margin-right: '7px';
}

.Author {
   color: '#999';
}

.Date {
   margin-right: '35px';
   color: '#333';
}
