.App {
   text-align: center;
}

.App-logo {
   margin-top: 13vh;
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 2s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 30vh;
   display: flex;
   flex-direction: column;
   align-items: left;
   text-align: left;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
